.Form {
    background-color: #DAE0E6;
    height: 800px;
    width: 100%;
}

.header {
    height: 100px;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    border: solid none solid none;
    border-color: white;
    border-style: none none solid none;
    border-width: 2px;
}

.dropdown {
    height: 70px;
    width: 70%;
    margin: auto;
    background-color: #DAE0E6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formbox {
    background-color: white;
    display: flex;
    width: 35%;
    height: 400px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

.lowerbox {
    height: 400px;
    width: 35%;
    display: flex;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    align-items: center;
    justify-content: center;
}

.inputsone {
    width: 400px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    margin: 2px;
}

.inputstwo {
    width: 400px;
    height: 250px;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px;
}

.bigbox {
    display: flex;
    justify-content: center;
    align-items: center;
}