.nav {
    background-color: rgba(255, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    border: solid;
}


input, textarea {
    background-color: #F6F7F8
}

.links{
    color: black;
    text-decoration: none;
    font-size: 21px;
    font-weight: 200;
}

.search {
    width: 185px;
    height: 25px;
    border-radius: 4px;
}

.reddit {
    margin: 5px 0px 0px 0px;
}